@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: 'Outfit', sans-serif;
}

body {
  background-color: black;
}

h1, h4, p, a {
  color: white;
  text-decoration: none;
}

.btn {
  padding: 12px 30px;
  font-size: 1rem;
  text-transform: uppercase;
  background-color: rgb(110, 225, 233);
  color: black;
  border: 1px solid rgb(182, 234, 238);
  font-weight: 600;
  cursor: pointer;
  border-radius: 25px;
}

.btn-light {
  background: transparent;
  color: white;
}

.btn:hover {
  background-color: rgba(255,255,255,0.2);
  color: white;
  transition: 0.3s;
}

li {
  list-style-type: none;
}